In [1]:
# Initial imports
import pandas as pd

#  Import and read the county_data.csv.
county_df = pd.read_csv("csv_files/county_statistics.csv")
county_df.head()

,Numbers,county,state,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0,Abbeville,SC,0.629,0.346,10724.0,6742.0,3712.0,0.661,0.330,...,1.8,1.8,6.5,25.8,9505.0,78.8,13.3,7.8,0.1,9.4
1,1,Acadia,LA,0.773,0.206,27386.0,21159.0,5638.0,0.795,0.191,...,1.6,2.2,2.5,27.6,24982.0,80.0,12.1,7.6,0.3,8.9
2,2,Accomack,VA,0.545,0.428,15755.0,8582.0,6737.0,0.542,0.447,...,2.6,1.8,4.5,22.0,13837.0,74.6,18.1,7.1,0.2,5.4
3,3,Ada,ID,0.479,0.387,195587.0,93748.0,75676.0,0.504,0.465,...,1.5,2.8,6.9,20.4,214984.0,78.3,15.0,6.6,0.1,4.3
4,4,Adair,IA,0.653,0.300,3759.0,2456.0,1127.0,0.697,0.286,...,2.8,0.4,6.2,22.3,3680.0,73.8,15.3,10.4,0.5,3.0

In [2]:
county_df.dtypes

Numbers                           int64
county                           object
state                            object
percentage16_Donald_Trump       float64
percentage16_Hillary_Clinton    float64
total_votes16                   float64
votes16_Donald_Trump            float64
votes16_Hillary_Clinton         float64
percentage20_Donald_Trump       float64
percentage20_Joe_Biden          float64
total_votes20                   float64
votes20_Donald_Trump            float64
votes20_Joe_Biden               float64
lat                             float64
long                            float64
cases                           float64
deaths                          float64
TotalPop                        float64
Men                             float64
Women                           float64
Hispanic                        float64
White                           float64
Black                           float64
Native                          float64
Asian                           float64
Pacific                         float64
VotingAgeCitizen                float64
Income                          float64
IncomeErr                       float64
IncomePerCap                    float64
IncomePerCapErr                 float64
Poverty                         float64
ChildPoverty                    float64
Professional                    float64
Service                         float64
Office                          float64
Construction                    float64
Production                      float64
Drive                           float64
Carpool                         float64
Transit                         float64
Walk                            float64
OtherTransp                     float64
WorkAtHome                      float64
MeanCommute                     float64
Employed                        float64
PrivateWork                     float64
PublicWork                      float64
SelfEmployed                    float64
FamilyWork                      float64
Unemployment                    float64
dtype: object

In [3]:
# Select the columns needed for our analysis
cleaned_county= county_df.loc[:,["county", "state", "votes16_Donald_Trump","votes16_Hillary_Clinton", 
                                 "total_votes16", "total_votes20", "votes20_Donald_Trump", "votes20_Joe_Biden",
                                "cases", "deaths","TotalPop","Men", "Women",  "Hispanic", "White",
                                 "Black","Native","Asian","Pacific", "Income", "IncomePerCap", "Poverty", "Unemployment" ]]

In [4]:
# Drop Null Values
cleaned_county= cleaned_county.dropna()

In [5]:
# Find Null Values
for column in cleaned_county.columns:
    print(f"Column{column}has {cleaned_county[column].isnull().sum()}null values")

Columncountyhas 0null values
Columnstatehas 0null values
Columnvotes16_Donald_Trumphas 0null values
Columnvotes16_Hillary_Clintonhas 0null values
Columntotal_votes16has 0null values
Columntotal_votes20has 0null values
Columnvotes20_Donald_Trumphas 0null values
Columnvotes20_Joe_Bidenhas 0null values
Columncaseshas 0null values
Columndeathshas 0null values
ColumnTotalPophas 0null values
ColumnMenhas 0null values
ColumnWomenhas 0null values
ColumnHispanichas 0null values
ColumnWhitehas 0null values
ColumnBlackhas 0null values
ColumnNativehas 0null values
ColumnAsianhas 0null values
ColumnPacifichas 0null values
ColumnIncomehas 0null values
ColumnIncomePerCaphas 0null values
ColumnPovertyhas 0null values
ColumnUnemploymenthas 0null values

In [6]:
# Find duplicate entries
print(f"Duplicate entries: {cleaned_county.duplicated().sum()}")

Duplicate entries: 0

In [7]:
cleaned_county.head()

,county,state,votes16_Donald_Trump,votes16_Hillary_Clinton,total_votes16,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,...,Hispanic,White,Black,Native,Asian,Pacific,Income,IncomePerCap,Poverty,Unemployment
0,Abbeville,SC,6742.0,3712.0,10724.0,12433.0,8215.0,4101.0,805.0,17.0,...,1.3,68.9,27.6,0.1,0.3,0.0,35254.0,19234.0,22.7,9.4
1,Acadia,LA,21159.0,5638.0,27386.0,28425.0,22596.0,5443.0,3182.0,102.0,...,2.4,77.5,17.6,0.1,0.1,0.0,40492.0,21591.0,21.5,8.9
2,Accomack,VA,8582.0,6737.0,15755.0,16938.0,9172.0,7578.0,1227.0,19.0,...,8.8,60.3,28.3,0.3,0.7,0.0,42260.0,24266.0,19.8,5.4
3,Ada,ID,93748.0,75676.0,195587.0,259389.0,130699.0,120539.0,17451.0,181.0,...,7.9,85.2,1.2,0.4,2.6,0.1,60151.0,31642.0,11.8,4.3
4,Adair,IA,2456.0,1127.0,3759.0,4183.0,2917.0,1197.0,222.0,1.0,...,1.7,96.6,0.3,0.0,0.4,0.0,49477.0,28861.0,9.5,3.0

In [8]:
cleaned_county.dtypes

county                      object
state                       object
votes16_Donald_Trump       float64
votes16_Hillary_Clinton    float64
total_votes16              float64
total_votes20              float64
votes20_Donald_Trump       float64
votes20_Joe_Biden          float64
cases                      float64
deaths                     float64
TotalPop                   float64
Men                        float64
Women                      float64
Hispanic                   float64
White                      float64
Black                      float64
Native                     float64
Asian                      float64
Pacific                    float64
Income                     float64
IncomePerCap               float64
Poverty                    float64
Unemployment               float64
dtype: object

In [9]:
# Saving cleaned data
file_path = "csv_files/county_data_cleaned.csv"
cleaned_county.to_csv(file_path, index=False)