In [1]:
# Import Dependencies
import pandas as pd
from path import Path
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import tree
from sklearn.metrics import accuracy_score
# Create file path for wealth_distribution csv
file_path = Path("csv_files/county_data_cleaned.csv")
county_df = pd.read_csv(file_path)
county_df.head()

,county,state,state_num,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,...,Hispanic,White,Black,Native,Asian,Pacific,Income,IncomePerCap,Poverty,Unemployment
0,Abbeville,SC,40,0.629,0.346,10724.0,6742.0,3712.0,0.661,0.330,...,1.3,68.9,27.6,0.1,0.3,0.0,35254.0,19234.0,22.7,9.4
1,Acadia,LA,18,0.773,0.206,27386.0,21159.0,5638.0,0.795,0.191,...,2.4,77.5,17.6,0.1,0.1,0.0,40492.0,21591.0,21.5,8.9
2,Accomack,VA,45,0.545,0.428,15755.0,8582.0,6737.0,0.542,0.447,...,8.8,60.3,28.3,0.3,0.7,0.0,42260.0,24266.0,19.8,5.4
3,Ada,ID,13,0.479,0.387,195587.0,93748.0,75676.0,0.504,0.465,...,7.9,85.2,1.2,0.4,2.6,0.1,60151.0,31642.0,11.8,4.3
4,Adair,IA,12,0.653,0.300,3759.0,2456.0,1127.0,0.697,0.286,...,1.7,96.6,0.3,0.0,0.4,0.0,49477.0,28861.0,9.5,3.0

In [2]:
# Make a copy of the county_df
df2 = county_df.copy()

In [3]:
# Drop the state, county, votes20_Donald_Trump, votes20_Joe_Biden, Total_votes20, percentage20_Donald_Trump,
# percentage20_Joe_Biden columns
df2 = df2.drop(["county", "state", "state_num","percentage16_Donald_Trump", "percentage16_Hillary_Clinton",
                "votes20_Donald_Trump", "votes20_Joe_Biden", "total_votes20","percentage20_Donald_Trump",
                "percentage20_Joe_Biden"], axis=1)
df2.head()

,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,cases,deaths,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Income,IncomePerCap,Poverty,Unemployment
0,10724.0,6742.0,3712.0,805.0,17.0,24788.0,12044.0,12744.0,1.3,68.9,27.6,0.1,0.3,0.0,35254.0,19234.0,22.7,9.4
1,27386.0,21159.0,5638.0,3182.0,102.0,62607.0,30433.0,32174.0,2.4,77.5,17.6,0.1,0.1,0.0,40492.0,21591.0,21.5,8.9
2,15755.0,8582.0,6737.0,1227.0,19.0,32840.0,16079.0,16761.0,8.8,60.3,28.3,0.3,0.7,0.0,42260.0,24266.0,19.8,5.4
3,195587.0,93748.0,75676.0,17451.0,181.0,435117.0,217999.0,217118.0,7.9,85.2,1.2,0.4,2.6,0.1,60151.0,31642.0,11.8,4.3
4,3759.0,2456.0,1127.0,222.0,1.0,7192.0,3552.0,3640.0,1.7,96.6,0.3,0.0,0.4,0.0,49477.0,28861.0,9.5,3.0

In [4]:
# Create a function to determine who won each state
def my_fun (df2):
    if (df2["votes16_Donald_Trump"] > df2["votes16_Hillary_Clinton"]):
        return 0
    else:
        return 1
# Create a "who_won" column to display our data
df2['who_won'] = df2.apply(my_fun, axis = 1)
df2.head(10)

,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,cases,deaths,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Income,IncomePerCap,Poverty,Unemployment,who_won
0,10724.0,6742.0,3712.0,805.0,17.0,24788.0,12044.0,12744.0,1.3,68.9,27.6,0.1,0.3,0.0,35254.0,19234.0,22.7,9.4,0
1,27386.0,21159.0,5638.0,3182.0,102.0,62607.0,30433.0,32174.0,2.4,77.5,17.6,0.1,0.1,0.0,40492.0,21591.0,21.5,8.9,0
2,15755.0,8582.0,6737.0,1227.0,19.0,32840.0,16079.0,16761.0,8.8,60.3,28.3,0.3,0.7,0.0,42260.0,24266.0,19.8,5.4,0
3,195587.0,93748.0,75676.0,17451.0,181.0,435117.0,217999.0,217118.0,7.9,85.2,1.2,0.4,2.6,0.1,60151.0,31642.0,11.8,4.3,0
4,3759.0,2456.0,1127.0,222.0,1.0,7192.0,3552.0,3640.0,1.7,96.6,0.3,0.0,0.4,0.0,49477.0,28861.0,9.5,3.0,0
5,8231.0,6637.0,1323.0,517.0,22.0,19304.0,9632.0,9672.0,1.8,93.4,3.6,0.1,0.1,0.0,36575.0,18408.0,21.5,6.2,0
6,10137.0,6019.0,3495.0,578.0,0.0,25437.0,12013.0,13424.0,2.3,90.5,2.4,0.2,2.3,0.1,38750.0,21778.0,26.2,5.5,0
7,6468.0,4753.0,1374.0,855.0,11.0,22136.0,10987.0,11149.0,6.4,40.8,0.3,41.7,0.6,0.2,33366.0,16576.0,30.8,5.5,0
8,175125.0,73807.0,86471.0,15538.0,263.0,487850.0,245840.0,242010.0,39.3,51.1,3.0,0.5,3.8,0.1,64087.0,27487.0,12.2,5.1,1
9,2082.0,1393.0,565.0,87.0,1.0,3785.0,1870.0,1915.0,1.2,96.8,0.4,0.1,0.6,0.0,49745.0,27022.0,11.2,4.2,0

In [5]:
# Creating the scaler instance
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [6]:
# Fitting the scaler
data_scaled = data_scaler.fit_transform(df2)
data_scaled[:5]

array([[-0.2757825 , -0.32137154, -0.22719853, -0.19392675, -0.16295948,
        -0.23417906, -0.23580657, -0.2325565 , -0.57142477, -0.42185202,
         1.31389668, -0.22817825, -0.37034356, -0.18190335, -1.10791288,
        -1.09255347,  1.03255319,  1.03823033, -0.41308349],
       [-0.12185157,  0.04586743, -0.19901944,  0.02584562,  0.0855743 ,
        -0.12006657, -0.12280815, -0.11739516, -0.49187979,  0.01414395,
         0.6150655 , -0.22817825, -0.44952279, -0.18190335, -0.70076511,
        -0.70710474,  0.84785541,  0.86995406, -0.41308349],
       [-0.2293039 , -0.2745019 , -0.18294009, -0.15490953, -0.15711163,
        -0.2098835 , -0.21101193, -0.20874779, -0.02907264, -0.857848  ,
         1.36281486, -0.19632021, -0.2119851 , -0.18190335, -0.56333914,
        -0.26965232,  0.58620021, -0.30797982, -0.41308349],
       [ 1.43206372,  1.89490054,  0.82569877,  1.34512703,  0.31656451,
         1.00391989,  1.02976469,  0.97876538, -0.09415489,  0.40451245,
        -0.53101763, -0.18039119,  0.54021758,  0.07331434,  0.82732155,
         0.93657161, -0.64511836, -0.67818762, -0.41308349],
       [-0.34012826, -0.43054726, -0.26501938, -0.24782969, -0.20974231,
        -0.28727204, -0.287989  , -0.28651578, -0.54249933,  0.9824606 ,
        -0.59391244, -0.24410728, -0.33075394, -0.18190335, -0.00236445,
         0.48178463, -0.99912245, -1.11570592, -0.41308349]])

In [7]:
import numpy as np
print(np.mean(data_scaled[:,0]))
print(np.std(data_scaled[:,0]))

1.8661660821013792e-17
1.0

In [8]:
# Separate the Features (X) from the Target (y)
y = df2["who_won"]
X = df2.drop(columns="who_won")

In [9]:
# Split our data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y,
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(2284, 18)

In [10]:
# Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=900,
                                random_state=1)

In [11]:
# Fit (train) or model using the training dataÂ¶
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=900, random_state=1)

In [12]:
# Make predicitions
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            1       1
3            0       0
4            0       0
5            0       0
6            0       0
7            0       0
8            0       0
9            1       1
10           0       0
11           0       0
12           0       0
13           0       0
14           0       0
15           0       0
16           0       0
17           0       0
18           0       0
19           0       0

In [13]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, y_pred)

In [14]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, y_pred))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          650            1
Actual 1            0          111

Accuracy Score : 0.9986876640419947
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       651
           1       0.99      1.00      1.00       111

    accuracy                           1.00       762
   macro avg       1.00      1.00      1.00       762
weighted avg       1.00      1.00      1.00       762

In [15]:
# Make a copy of county_df
df3 = county_df.copy()

In [16]:
# Drop county, state, and total votes 16, 16 Donald Trump, 16 Hillary Clinton
df3 = df3.drop(["county", "state", "state_num","votes16_Donald_Trump", "votes16_Hillary_Clinton", "total_votes16",
                "percentage16_Donald_Trump","percentage16_Hillary_Clinton","percentage20_Donald_Trump",
                "percentage20_Joe_Biden"], axis=1)

df3.head()

,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Income,IncomePerCap,Poverty,Unemployment
0,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,12744.0,1.3,68.9,27.6,0.1,0.3,0.0,35254.0,19234.0,22.7,9.4
1,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,32174.0,2.4,77.5,17.6,0.1,0.1,0.0,40492.0,21591.0,21.5,8.9
2,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,16761.0,8.8,60.3,28.3,0.3,0.7,0.0,42260.0,24266.0,19.8,5.4
3,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,217118.0,7.9,85.2,1.2,0.4,2.6,0.1,60151.0,31642.0,11.8,4.3
4,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,3640.0,1.7,96.6,0.3,0.0,0.4,0.0,49477.0,28861.0,9.5,3.0

In [17]:
# Create a function that determines who won each state
def my_fun (df3):
    if (df3["votes20_Donald_Trump"] > df3["votes20_Joe_Biden"]):
        return 0
    else:
        return 1
# Create a "who_won" column to display our data
df3['who_won'] = df3.apply(my_fun, axis = 1)
df3.head(10)

,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Income,IncomePerCap,Poverty,Unemployment,who_won
0,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,12744.0,1.3,68.9,27.6,0.1,0.3,0.0,35254.0,19234.0,22.7,9.4,0
1,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,32174.0,2.4,77.5,17.6,0.1,0.1,0.0,40492.0,21591.0,21.5,8.9,0
2,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,16761.0,8.8,60.3,28.3,0.3,0.7,0.0,42260.0,24266.0,19.8,5.4,0
3,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,217118.0,7.9,85.2,1.2,0.4,2.6,0.1,60151.0,31642.0,11.8,4.3,0
4,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,3640.0,1.7,96.6,0.3,0.0,0.4,0.0,49477.0,28861.0,9.5,3.0,0
5,8766.0,7275.0,1391.0,517.0,22.0,19304.0,9632.0,9672.0,1.8,93.4,3.6,0.1,0.1,0.0,36575.0,18408.0,21.5,6.2,0
6,10337.0,6391.0,3705.0,578.0,0.0,25437.0,12013.0,13424.0,2.3,90.5,2.4,0.2,2.3,0.1,38750.0,21778.0,26.2,5.5,0
7,7108.0,5585.0,1387.0,855.0,11.0,22136.0,10987.0,11149.0,6.4,40.8,0.3,41.7,0.6,0.2,33366.0,16576.0,30.8,5.5,0
8,234599.0,94874.0,132951.0,15538.0,263.0,487850.0,245840.0,242010.0,39.3,51.1,3.0,0.5,3.8,0.1,64087.0,27487.0,12.2,5.1,1
9,2158.0,1528.0,590.0,87.0,1.0,3785.0,1870.0,1915.0,1.2,96.8,0.4,0.1,0.6,0.0,49745.0,27022.0,11.2,4.2,0

In [18]:
# Creating the scaler instance
from sklearn.preprocessing import StandardScaler
data_scalers = StandardScaler()

In [19]:
# Fitting the scaler
data_scaled1 = data_scalers.fit_transform(df3)
data_scaled1[:5]

array([[-2.41456110e-01, -2.74591540e-01, -2.10719760e-01,
        -1.93926750e-01, -1.62959484e-01, -2.34179061e-01,
        -2.35806574e-01, -2.32556497e-01, -5.71424774e-01,
        -4.21852024e-01,  1.31389668e+00, -2.28178255e-01,
        -3.70343557e-01, -1.81903348e-01, -1.10791288e+00,
        -1.09255347e+00,  1.03255319e+00,  1.03823033e+00,
        -4.27145662e-01],
       [-1.29758019e-01, -8.18951702e-04, -1.96164934e-01,
         2.58456184e-02,  8.55742952e-02, -1.20066571e-01,
        -1.22808153e-01, -1.17395156e-01, -4.91879794e-01,
         1.41439548e-02,  6.15065500e-01, -2.28178255e-01,
        -4.49522786e-01, -1.81903348e-01, -7.00765113e-01,
        -7.07104740e-01,  8.47855409e-01,  8.69954060e-01,
        -4.27145662e-01],
       [-2.09990383e-01, -2.56373032e-01, -1.73009529e-01,
        -1.54909527e-01, -1.57111630e-01, -2.09883501e-01,
        -2.11011934e-01, -2.08747794e-01, -2.90726384e-02,
        -8.57848002e-01,  1.36281486e+00, -1.96320213e-01,
        -2.11985099e-01, -1.81903348e-01, -5.63339139e-01,
        -2.69652325e-01,  5.86200212e-01, -3.07979825e-01,
        -4.27145662e-01],
       [ 1.48343845e+00,  2.05714907e+00,  1.05212288e+00,
         1.34512703e+00,  3.16564513e-01,  1.00391989e+00,
         1.02976469e+00,  9.78765376e-01, -9.41548947e-02,
         4.04512447e-01, -5.31017629e-01, -1.80391192e-01,
         5.40217576e-01,  7.33143389e-02,  8.27321545e-01,
         9.36571606e-01, -6.45118361e-01, -6.78187617e-01,
        -4.27145662e-01],
       [-2.99079250e-01, -3.75450115e-01, -2.42215449e-01,
        -2.47829691e-01, -2.09742312e-01, -2.87272040e-01,
        -2.87988998e-01, -2.86515779e-01, -5.42499326e-01,
         9.82460605e-01, -5.93912435e-01, -2.44107275e-01,
        -3.30753942e-01, -1.81903348e-01, -2.36445041e-03,
         4.81784627e-01, -9.99122451e-01, -1.11570592e+00,
        -4.27145662e-01]])

In [20]:
# Print the mean and Standard Deviation
import numpy as np
print(np.mean(data_scaled1[:,0]))
print(np.std(data_scaled1[:,0]))

-2.332707602626724e-18
1.0

In [21]:
# Separate the Features (X) from the Target (y)
y = df3["who_won"]
X = df3.drop(columns="who_won")

In [22]:
# Split our data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y,
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(2284, 18)

In [23]:
# Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=400,
                                random_state=1)

In [24]:
# Fit (train) or model using the training dataÂ¶
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=400, random_state=1)

In [25]:
# Make predicitions
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            1       1
3            0       0
4            0       0
5            0       0
6            0       0
7            0       0
8            0       0
9            1       1
10           0       0
11           0       0
12           0       0
13           0       0
14           0       0
15           0       0
16           0       0
17           0       0
18           0       0
19           0       0

In [26]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, y_pred)

In [27]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, y_pred))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          644            0
Actual 1            2          116

Accuracy Score : 0.9973753280839895
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       644
           1       1.00      0.98      0.99       118

    accuracy                           1.00       762
   macro avg       1.00      0.99      0.99       762
weighted avg       1.00      1.00      1.00       762