In [34]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
#  Import and read the county_data.csv.
county_df = pd.read_csv("csv_files/covid_data.csv")
county_df.head()

      county state    cases  deaths  TotalPop
0  Abbeville    SC    805.0    17.0   24788.0
1     Acadia    LA   3182.0   102.0   62607.0
2   Accomack    VA   1227.0    19.0   32840.0
3        Ada    ID  17451.0   181.0  435117.0
4      Adair    IA    222.0     1.0    7192.0

In [35]:
y = county_df["TotalPop"]
X= county_df.drop(columns=["TotalPop"])

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y, random_state=1, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.